<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wememe.ca">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="WeMeme"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Connexion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Inscription" />
        <activity android:name=".Activities.Splash" />
        <activity android:name=".Activities.VerificationCompte" />
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.Report" />
        <activity android:name=".Activities.ProfilModifier" />
        <activity android:name=".Activities.BigImage"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>